<style>
  .action-card-type {
    color: green;
  }
  </style>
  
  <div class="card action-card" data-card-name="<%= cardName %>">
    <div class="card-title"><%= card.name %></div>
    <div class="card-type action-card-type">Action</div>
    <div class="card-description"><%= card.description %></div>
  </div>